{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simmer - Login</title>
  <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
  <div class="page-container">

    <!--Menubar-->
    {% include 'recipes/partials/menubar.html' %}

    <h1>Login</h1>

    <div class="page-container-row">
      <div>
        {% comment %} print form {% endcomment %}
        <form action="" method="POST">
          {% comment %} add Django security token {% endcomment %}
          {% csrf_token %}

          {% comment %} print form received from view {% endcomment %}

          <div class="login-form-row">
            {{ form.username.label_tag }}
            <input type="text" class="login-form-input" name="{{ form.username.name }}" />
          </div>

          <div class="login-form-row">
            {{ form.password.label_tag }}
            <input type="password" class="login-form-input" name="{{ form.password.name }}" />
          </div>

          {% comment %} add button {% endcomment %}
          <div class="login-form-button-row">
            <button type="submit" class="custom-button">Login</button>
          </div>
        </form>
      </div>

      <div class="page-container-item">
        <img src="{% static 'recipes/images/simmer-logo1024x1024.png' %}" class="home-simmer-logo"
          alt="Simmer pot logo" />

      </div>


    </div>
    {% comment %} check for error message {% endcomment %}
    {% if error_message %}
    <div class="login-form-error-message-row">
      ❌{{error_message}}
    </div>
    {% endif %}

    <div class="page-container-row">
      <h3>Don't have an account? </h3>
      <a href="{% url 'register' %}" class="custom-button">Sign Up</a>
    </div>

  </div>
</body>

</html>