{% extends 'base.html' %}
{% load static %}

{% block title %}
Simmer - Logout
{% endblock %}

{% block content %}

<div class="page-container-row">

  <div class="home-container-item-col" style="align-items: center;">
    <div class="page-container-header">Thanks for using Simmer!</div>
    <div class="page-container-header">You have been logged out.</div>
    <div class="home-buttons-row">
      <a href="{% url 'recipes:list' %}" class="custom-button">View Recipes</a>
      <a href="{% url 'login' %}" class="custom-button">Login/Signup</a>
    </div>
  </div>

</div>
<a href="{% url 'recipes:home' %}">
  <img src="{% static 'recipes/images/simmer-logo1024x1024.png' %}" class="home-simmer-logo" alt="Simmer pot logo" />
</a>
{% endblock %}

{% block extra_scripts %}

{% endblock %}