/* ================================================== */
/*   CSS stylesheet for templates in the recipes app  */
/* ================================================== */
:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /*Variables*/
    --debug-border-width: 0px; /*Use value >0 for debug borders*/
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* ===== Shared Container Styles ==================================================== */

.page-container {
  border: var(--debug-border-width) dashed black;
  display: flex;
  flex-direction: column;
  align-items: center; /*horiz center*/
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 55px;
  row-gap: 10px;
}

.page-container-header {
  display: flex;
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.page-container-row {
  border: var(--debug-border-width) solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

/* ===== Shared Menu Bar Styles ================================================== */

.menubar-container {
  border: var(--debug-border-width) solid orange;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  column-gap: 10px;
  flex-shrink: 1;
  flex-grow: 1;
  top:0;
  left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menubar-logo {
  border: var(--debug-border-width) dashed red;
  height: 40px;
  width: auto;
}

.menubar-item {
  border: var(--debug-border-width) solid green;
  display: flex;
  align-items: center;
}

/* ===== Shared Button Styles ==================================================== */

.custom-button {
  /*border: var(--debug-border-width) dashed red;*/
  border: 2px solid rgb(141, 231, 176);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* horizontal, vertical, blur, color */
  background-color: rgb(141, 231, 176);
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  /*transition: ease .2s;*/
}

.custom-button:hover {
  border: 2px solid rgb(27, 166, 82);
  color: rgb(0, 0, 0);
  /*background-color: rgb(80, 204, 128);*/
  text-decoration: none;
}

.custom-button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); /* decreases shadow on "press down" */
}

@media(max-width:550) {
  .custom-button {
    font-size: 12px;
  }
}

/* ===== Styles for template - recipes/templates/recipes/home.html ===== */

.home-container {
  border: var(--debug-border-width) dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  row-gap: 10px;
}

.home-container-row {
  border: var(--debug-border-width) solid blue;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-container-item-col {
  display:flex;
  flex-direction: column;
}

.home-welcome-text {
  display:block;
  font-size: 26px;
  font-weight: 700;
}

.home-buttons-row{
  border: var(--debug-border-width) solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.home-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
}

.home-simmer-logo {
  border: var(--debug-border-width) dashed purple;
  float:inline-start;
  height:200px;
  width:200px;
}

@media(max-width:550px) {
  .home-buttons-row {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .home-simmer-logo {
    height:125px;
    width:125px;
  }
  .home-welcome-text {
    font-size: 18px;
  }
}

/* ===== Styles for template - recipes/templates/recipes/listing.html ===== */

.recipe-list-row {
  border: var(--debug-border-width) solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.recipe-list-item {
  border: var(--debug-border-width) solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 45%;
}

@media (max-width: 550px) {
  .recipe-list-item {
    width: 90%;
  }
}

.recipe-list-pic-cell {
  border: var(--debug-border-width) dashed red;
  display: flex;
  justify-content: center;
}

.recipe-list-pic {
  width: 90%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.25s ease;
}

.recipe-list-pic:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.recipe-list-text {
  font-size: 18px;
}

/* ===== Styles for template - recipes/templates/recipes/detail.html ===== */

.recipe-detail-row {
  border: var(--debug-border-width) solid blue;
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
}

.recipe-detail-text-cell {
  border: var(--debug-border-width) solid lime;
  width: 55%;
  row-gap: 5px;
}

.recipe-detail-label {
  border: var(--debug-border-width) dashed orange;
  text-align: right;
  padding-right: 5px;
  width: 35%;
  background: linear-gradient(to right, white, lightgray);
  border-radius: 5px;
}

.recipe-detail-value {
  border: var(--debug-border-width) dashed mediumorchid;
  text-align: left;
  width: 65%;
  padding-left: 10px;
}

.recipe-detail-pic-cell {
  border: var(--debug-border-width) solid red;
  display:flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.recipe-detail-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
}

.recipe-detail-ingredients-label {
  border: var(--debug-border-width) dashed brown;
  text-align: right;
  padding-right: 5px;
  width: 35%;
  background: linear-gradient(to right, white, lightgray);
  border-radius: 5px;
}

@media (max-width: 550px) {
  .recipe-detail-row {
    flex-wrap: wrap;
  }
  .recipe-detail-text-cell {
    width:90%;
  }
  .recipe-detail-pic-cell {
    width:90%;
  }
  .recipe-detail-label {
    width: 45%;
  }
  .recipe-detail-value {
    width: 45%;
  }
  .recipe-detail-ingredients-label {
    width: 45%;
  }
}