/* ================================================== */
/*   CSS stylesheet for templates in the Simmer app   */
/* ================================================== */
:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /*Variables*/
    --debug-border-width: 0px; /*Use value >0 for debug borders*/
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* ===== Styling for recipes/search.html results Tables ========================================================= */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.table-striped tr:nth-child(even) {
  background-color: #dbdbdb;
}

.table th {
  background-color: #bcfdd5;
}

/* ===== Shared Container Styles ==================================================== */

.page-container {
  border: var(--debug-border-width) dashed black;
  display: flex;
  flex-direction: column;
  align-items: center; /*horiz center*/
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 70px;
  row-gap: 10px;
}

.page-container-header {
  display: flex;
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  margin-top: 15px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.page-container-row {
  border: var(--debug-border-width) dashed blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

/* ===== Shared Menu Bar Styles ================================================== */

.menubar-container {
  border: var(--debug-border-width) solid orange;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #8de7b0;
  z-index: 1000;
  column-gap: 10px;
  flex-shrink: 1;
  flex-grow: 1;
  top:0;
  padding-left: 2%;
  padding-top: 5px;
}

.menubar-logo {
  border: var(--debug-border-width) dashed red;
  height: 40px;
  width: auto;
}

.menubar-item {
  border: var(--debug-border-width) solid green;
  display: flex;
  align-items: center;
  margin-right:10px;
}

/* Align the "Logout" item to the right */
.menubar-item-right {
  margin-left: auto; /* This will push the logout item to the right */
  padding-right: 10px;
}

@media(max-width:550) {
  .menubar-item {
    font-size: 12px;
  }
}

/* ===== Shared Button Styles ==================================================== */

.custom-button {
  border: 2px solid #8de7b0;
  /*border: var(--debug-border-width) dashed gray;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* horizontal, vertical, blur, color */
  background-color: #8de7b0;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-button:hover {
  border: 2px solid rgb(27, 166, 82);
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.custom-button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); /* decreases shadow on "press down" */
}

.custom-button-red {
  /*border: var(--debug-border-width) dashed brown;*/
  border: 2px solid #e78d8d;
  background-color: #e78d8d;
}

.custom-button-red:hover {
  border: 2px solid rgb(199, 24, 24);
}

@media(max-width:550) {
  .custom-button {
    font-size: 12px;
  }
}

/* ===== Shared Graph Styles ==================================================== */

.responsive-graph {
    max-width: 100%;  /* Prevents overflowing container */
    height: auto;     /* Keeps aspect ratio */
    display: block;   /* Removes inline spacing issues */
    margin: 10px auto; /* Optional: center images with some margin */
}

/* ===== Styles for templates - recipe_app/templates/auth/login.html ===== */
/* =====                      - recipe_app/templates/auth/register.html == */
.login-form-row {
  border: var(--debug-border-width) solid cyan;
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}

.login-form-label {
  border: var(--debug-border-width) solid magenta;
}

.login-form-input {
  border: 1px solid rgb(27, 166, 82);
  width: 55%;
  max-width: 300px;
  border-radius: 5px;
  margin-left: 5px;
}

.login-form-button-row {
  border: var(--debug-border-width) solid limegreen;
  display:flex;
  justify-content: center;
  padding-top:5px;
  padding-bottom: 5px;
}

.login-form-error-message-row {
  border: var(--debug-border-width) solid red;
  color:red;
  background-color: rgb(252, 220, 220);
  border-radius: 5px;
  padding: 5px;
}

/* ===== Styles for template - recipes/templates/recipes/about.html ===== */

.about-text-container {
    border: var(--debug-border-width) solid purple;
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #e2e2e2;
    text-align: left;
}

/* ===== Styles for templates - recipe_app/auth/profile.html ===== */

.profile-recipe-list {
  border: var(--debug-border-width) solid orange;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  max-width: 95%;
}

.profile-recipe-list-header { 
  border: var(--debug-border-width) dashed purple;
  border-bottom: 1px solid black;
  background-color: #bcfdd5;
  text-align: center;
  padding: 5px;
}

.profile-recipe-list_item {
  border: var(--debug-border-width) solid blue;
  border-bottom: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.profile-recipe-list_item:nth-child(even) {
  background-color: #dbdbdb;
}

.profile-recipe-link {
  font-weight: bold;
}

/* ===== Styles for templates - recipes/templates/add_recipe.html ===== */
.recipe-form {
  border: var(--debug-border-width) solid orangered;
  width:100%
}

.recipe-form-row {
  border: var(--debug-border-width) solid cyan;
  display: flex;
  justify-content: left;
  padding-bottom: 10px;
  width:100%;
}

.recipe-form-label {
  border: var(--debug-border-width) dotted magenta;
  width: 25%;
  text-align: right;
  font-size: 14px;
}

.recipe-form.input {
  width: 70%;
}

.recipe-form-input {
  border: 1px solid #1ba652;
  width: 60%;
  max-width: 500px;
  border-radius: 5px;
  margin-left: 5px;
}

.recipe-form-textarea {
  border: 1px solid #1ba652;
  display:block;
  border-radius: 5px;
  margin-left: 5px;
  width:70%;
  resize: none;
}

.recipe-form-help {
  display:block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  background-color: #dbdbdb;
}

.recipe-form-button-row {
  border: var(--debug-border-width) solid limegreen;
  display:flex;
  justify-content: center;
  padding-top:5px;
  padding-bottom: 5px;
  gap: 5px;
}

.recipe-form-error-message-row {
  border: var(--debug-border-width) solid red;
  color:red;
  background-color: rgb(252, 220, 220);
  border-radius: 5px;
  padding: 5px;
}

.recipe-form-picture-input{
  border: var(--debug-border-width) dashed orangered;
  display:flex;
  flex-direction: column;
  padding-left: 5px;
}

.recipe-form-image-preview {
  width: 75px;
  height: auto;
}

/* ===== Styles for template - recipes/templates/recipes/home.html ===== */

.home-container {
  border: var(--debug-border-width) dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  row-gap: 10px;
}

.home-container-row {
  border: var(--debug-border-width) solid blue;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-container-item-col {
  display:flex;
  flex-direction: column;
}

.home-welcome-text {
  display:block;
  font-size: 26px;
  font-weight: 700;
}

.home-buttons-row{
  border: var(--debug-border-width) solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.home-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
}

.home-simmer-logo {
  border: var(--debug-border-width) solid red;
  float:inline-start;
  height:200px;
  width:200px;
}

@media(max-width:550px) {
  .home-buttons-row {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
  }
  .home-simmer-logo {
    height:125px;
    width:125px;
  }
  .home-welcome-text {
    font-size: 18px;
  }
}

/* ===== Styles for template - recipes/templates/recipes/listing.html ===== */

.recipe-list-row {
  border: var(--debug-border-width) solid lime;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center; /*vert center items in row*/
  width: 100%;
  gap: 5px;
}

.recipe-list-item {
  border: var(--debug-border-width) dashed magenta;
  display: flex;
  flex-direction: column;
  /*justify-content: center; /*vert center content in cell*/
  align-items: center; /*horiz center content in cell*/
  padding: 10px;
  width: 45%;
}

@media (max-width: 550px) {
  .recipe-list-item {
    width: 90%;
  }
}

@media (min-width: 550px) {
  .recipe-list-item {
    width: 45%;
  }
}

@media (min-width: 800px) {
  .recipe-list-item {
    width: 30%;
  }
}

.recipe-list-pic-cell {
  border: var(--debug-border-width) solid cyan;
  display: flex;
  justify-content: center;
  text-align: center; /*hoirz center pic in cell*/
}

.recipe-list-pic {
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  transition: transform 0.25s ease;
}

.recipe-list-pic:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.recipe-list-text {
  font-size: 18px;
}

/* ===== Styles for template - recipes/templates/recipes/detail.html ===== */

.recipe-detail-row {
  border: var(--debug-border-width) solid blue;
  display:flex;
  width:100%;
  justify-content: left; /*horiz center*/
  font-size: 14px;
  margin-top: 5px;
}

.recipe-detail-image-row {
  border: var(--debug-border-width) solid magenta;
  display:flex;
  width:100%;
  align-items: center; /*vertical center*/
  justify-content: center; /*horiz center*/
  font-size: 14px;
  margin-top: 5px;
}

.recipe-detail-text-cell {
  border: var(--debug-border-width) solid lime;
  width: 55%;
  row-gap: 5px;
}

.recipe-detail-label {
  border: var(--debug-border-width) dashed orange;
  text-align: right;
  padding-right: 5px;
  width: 35%;
  background: linear-gradient(to right, white, lightgray);
  border-radius: 5px;
}

.recipe-detail-value {
  border: var(--debug-border-width) dashed mediumorchid;
  text-align: left;
  width: 55%;
  padding-left: 10px;
}

.recipe-detail-pic-cell {
  border: var(--debug-border-width) solid red;
  display:flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.recipe-detail-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 15px;
}

.recipe-detail-ingredient-cell {
  border: var(--debug-border-width) solid goldenrod;
  display:flex;
  align-items: flex-start;
  text-align: right;
  width:30%;
  justify-self: flex-start;
  padding-top: 15px;
}

.recipe-detail-ingredients-label {
  border: var(--debug-border-width) solid red;
  text-align: right;
  padding-right: 5px;
  width: 100%;
  background: linear-gradient(to right, white, lightgray);
  border-radius: 5px;
}

.recipe-detail-ingredients-value {
  border: var(--debug-border-width) solid lime;
  text-align: left;
  width: 65%;
  padding-left: 10px;
}

.recipe-detail-back-button {
  /*border: var(--debug-border-width) dotted red;*/
  position: fixed;
  x:15px;
  y:15px;
  font-weight: 400;
}

@media (max-width: 550px) {
  .recipe-detail-row {
    justify-content: left;
    flex-wrap: wrap;
  }
  .recipe-detail-image-row {
    flex-wrap: wrap;
  }
  .recipe-detail-text-cell {
    width:100%;
  }
  .recipe-detail-pic-cell {
    width:90%;
    margin-bottom:10px;
  }
  .recipe-detail-label {
    width: 30%;
  }
  .recipe-detail-value {
    width: 60%;
  }
}