<!DOCTYPE html>
{% load static %}
{% load markdownify %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Simmer - {{recipe.name|title}} Detail
  </title>

  <!--Bootstrap CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <!--Bootstrap Icons CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
  <!--Back to recipe list button-->
  <a href="{% url 'recipes:list' %}" class="custom-button recipe-detail-back-button">&lt; Recipe List</a>


  <div class="page-container">

    <!--Menubar-->
    {% include 'recipes/partials/menubar.html' %}

    <div class="page-container-header">
      {{recipe.name}}
      <!--Favorite recipe toggle-->
      <div class="page-header-fav-row">
        <i class="bi {% if recipe_favorited %}bi-heart-fill text-danger{% else %}bi-heart{% endif %} favorite-btn custom-favbtn-detail-profile"
          data-type="recipe" data-id="{{ recipe.id }}">
        </i>

        <span id="count-recipe-{{recipe.id}}">
          {{ recipe.recipe_fans.count }}
        </span>
      </div>
    </div>

    {% if request.user == object.created_by %}
    <div class="page-container-row">
      <!--Edit button-->
      <a href="{% url 'recipes:edit' object.pk %}" class="custom-button">Edit Recipe</a>

      <!--Delete button (with confirm in form)-->
      <form method="POST" action="{% url 'recipes:delete' object.pk %}"
        onsubmit="return confirm('Are you sure you want to delete this recipe?');">
        {% csrf_token %}
        <button type="submit" class="custom-button custom-button-red">
          Delete Recipe
        </button>
      </form>

    </div>
    {% endif %}

    <div class="recipe-detail-image-row">

      <div class="recipe-detail-pic-cell">

        {% if recipe.pic %}
        <img src="{{ recipe.pic.url }}" class="recipe-detail-pic" alt="{{ recipe.name }}">
        {% else %}
        <img src="{% static 'recipes/images/no_picture.jpg' %}" class="recipe-detail-pic" alt="No image">
        {% endif %}

      </div>

      <div class="recipe-detail-text-cell">

        <div class="recipe-detail-row">
          <div class="recipe-detail-label">
            Cook Time:
          </div>
          <div class="recipe-detail-value">
            {{recipe.cooking_time}} min
          </div>
        </div>

        <div class="recipe-detail-row">
          <div class="recipe-detail-label">
            Difficulty:
          </div>
          <div class="recipe-detail-value">
            {{recipe.difficulty|title}}
          </div>
        </div>

        <div class="recipe-detail-row">
          <div class="recipe-detail-label">
            Created By:
          </div>
          <div class="recipe-detail-value">
            {% if recipe.created_by|title != "Deleted User" %}
            <span>
              <a href="{% url 'profile' recipe.created_by %}">
                <strong>{{ recipe.created_by|title }}</strong>
              </a>
              {% if recipe.created_by != request.user %}
              <i class="bi {% if cook_favorited %}bi-heart-fill text-danger{% else %}bi-heart{% endif %} favorite-btn custom-favbtn-detail-profile"
                data-type="cook" data-id="{{ recipe.created_by.username }}">
              </i>
              {%else %}
              ❤️
              {% endif %}
              <span id="count-cook-{{ recipe.created_by.username }}">
                {{ recipe.created_by.cook_fans.count }}
              </span>
            </span>
            {% else %}
            <strong>{{recipe.created_by|title}}</strong>
            {% endif %}
          </div>
        </div>

        <div class="recipe-detail-row">
          <div class="recipe-detail-label">
            Last Update:
          </div>
          <div class="recipe-detail-value">
            {{recipe.last_update|date:"m/d/Y"}}
          </div>
        </div>

      </div>
    </div>

    <div class="recipe-detail-row">
      <div class="recipe-detail-ingredient-cell">
        <div class="recipe-detail-ingredients-label">
          Ingredients:
        </div>
      </div>
      <div class="recipe-detail-ingredients-value">
        <ul>
          {% for item in recipe.get_ingredients_as_list %}
          <li>{{item|title}}</li>
          {%endfor%}
        </ul>
      </div>

    </div>

    <div class="recipe-detail-row">
      <div class="recipe-detail-ingredient-cell">
        <div class="recipe-detail-ingredients-label">
          Instructions:
        </div>
      </div>
      <div class="recipe-detail-ingredients-value">
        {{recipe.instructions|markdownify}}
      </div>
    </div>

  </div>

  <!-- Bootstrap JS Bundle (required for navbar toggler) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>

  <script src="{% static 'recipes/js/profile/favorites.js' %}"></script>

</body>

</html>