{% extends 'base.html' %}
{% load static %}

{% block title %}
Simmer - Home
{% endblock %}

{% block content %}

<div class="page-container-row">
  <img src="{% static 'recipes/images/ingredients.jpg' %}" class="home-image" alt="ingredients on table" />
</div>

<div class="page-container-row">

  <div class="home-container-item-col">

    <span class="home-welcome-text">
      Welcome to Simmer!
    </span>

    <div class="home-buttons-row">

      <a href="{% url 'recipes:list' %}" class="custom-button">
        View Recipes
      </a>

      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}" class="custom-button">
        Login/Sign Up
      </a>
      {% endif %}

    </div>

  </div>

  <img src="{% static 'recipes/images/simmer-logo1024x1024.png' %}" class="home-simmer-logo" alt="Simmer pot logo" />

</div>

{% endblock %}