{% extends 'base.html' %}
{% load static %}

{% block title %}
Simmer - Recipe List
{% endblock %}

{% block content %}
<div class="page-container-header">
  Recipe List:
</div>

<div class="recipe-list-row">
  {% for recipe in recipes %} {% comment %} Accesses each recipe record in model {% endcomment %}
  <div class="recipe-list-item">
    <div class="recipe-list-pic-cell">
      <a href="{{recipe.get_absolute_url}}">

        {% if recipe.pic %}
        <img src="{{ recipe.pic.url }}" class="recipe-list-pic" alt="{{ recipe.name }}">
        {% else %}
        <img src="{% static 'recipes/images/no_picture.jpg' %}" class="recipe-list-pic" alt="No image">
        {% endif %}
      </a>

      <div class="custom-favbtn recipe-list-favbtn-overlay">
        <i class="bi {% if recipe.is_favorited %}bi-heart-fill text-danger{% else %}bi-heart{% endif %} favorite-btn"
          data-type="recipe" data-id="{{ recipe.id }}">
        </i>
      </div>

    </div>
    <span>
      <a href="{{recipe.get_absolute_url}}">
        <span class="recipe-list-text">{{recipe.name|title}}</span>
      </a>

    </span>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'recipes/js/profile/favorites.js' %}"></script>
{% endblock %}