<!-- recipes/partials/menubar.html -->
{% load static %}

<nav class="navbar navbar-expand-md menubar-container">
  <div class="container-fluid">

    <!-- Brand / Logo -->
    <a class="navbar-brand"
      href="{% if user.is_authenticated %}{% url 'recipes:list' %}{% else %}{% url 'recipes:home' %}{% endif %}">
      <img src="{% static 'recipes/images/simmer-menubar-logo.png' %}" class="menubar-logo" alt="Simmer logo">
    </a>

    <!-- Hamburger button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#simmerNavbar"
      aria-controls="simmerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse" id="simmerNavbar">
      <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}

        <li class="nav-item menubar-item">
          <a class=" nav-link menubar-link" href="{% url 'recipes:list' %}">All Recipes</a>
        </li>

        {% if not hide_add_recipe_menu %}
        <li class="nav-item menubar-item">
          <a class=" nav-link menubar-link" href="{% url 'recipes:add_recipe' %}">Add Recipe</a>
        </li>
        {% endif %}

        {% if not hide_search_menu %}
        <li class="nav-item menubar-item">
          <a class="nav-link menubar-link" href="{% url 'recipes:search' %}">Search</a>
        </li>
        {% endif %}

        {% if not is_owner %}
        <li class="nav-item menubar-item">
          <a class="nav-link menubar-link" href="{% url 'profile' request.user.username %}">Profile</a>
        </li>
        {% endif %}

        <li class="nav-item menubar-item">
          <a class="nav-link menubar-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}

        <li class="nav-item menubar-item">
          <a class="nav-link menubar-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item menubar-item">
          <a class="nav-link menubar-link" href="{% url 'recipes:about' %}">About</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>